.App {
  text-align: center;
}

.header {
  background-color: black;
  color: white;
}

h2 {
  background-color: #a62639;
  color: white;
  text-align: center;
  margin: 0;
  padding-top: 5px;
  padding-bottom: 5px;
}

h3 {
  text-align: left;
  margin: 0;
  padding-top: 5px;
  padding-bottom: 5px;
}

ul, form {
  text-align: left;
}

input, label, select, button, h3 {
  margin-left: 5%;
}

.bin-image {
  padding: 10px;
}