/* General */

* {
  background-color: #efefef;
}

.App {
  text-align: center;
  /* Font is specific to MCC and needs to be hosted internally */
  font-family: 'Helvetica Neue', 'Helvetica', sans-serif;
  line-height: 1.7em;
}

h2 {
  background-color: #a62639;
  color: white;
  text-align: center;
  margin: 0;
  padding: 5px;
  font-weight: normal;
}

h3 {
  text-align: left;
  margin: 0;
  padding-top: 5px;
  padding-bottom: 5px;
  font-weight: normal;
  line-height: 50px;
}

a {
  color: #2B5E80;
  text-decoration: none;
  padding-bottom: 1px;
  border-bottom: 1px solid #2B5E80;
  font-weight: 500;
  font-size: 20px;
  line-height: 50px;
}

ul {
  display: block;
  list-style: square url("./Images/icon_arrow.gif");
  text-align: center;
}

p {
  margin-right: 5%;
}

/* Form */

ul, form {
  text-align: left;
  line-height: 40px;
}

input, label, button, select, h3 {
  margin-left: 5%;
}

select, input {
  padding: 4px;
  font-size: 100%;
  vertical-align: baseline;
  align-items: flex-start;
  overflow-x: hidden;
  overflow-y: scroll;
  white-space: nowrap;
  border-width: 1px;
  border-style: solid;
  border-image: initial;
  border-radius: 2px;
  font: 400 13.3333px Arial;
  background-color: white;
}

button {
  background-color: #a62639;
  border: 1px solid #a62639;
  display: inline-block;
  padding: .75rem 1rem;
  text-decoration: none;
  text-shadow: 1px 1px 1px rgb(0 0 0 / 0%);
  text-align: center;
  font-size: 12px;
  box-shadow: none;
  color: #FFFFFF;
  display: block;
  font-size: 15px;
}

p {
  text-align: left;
  padding-left: 25px;
}

/* Header */

.header {
  background-color: black;
  overflow: auto;
}

.header a {
  background-color: black;
}

.header .logo {
  float: left;
}

.header .settings {
  float: right;
  margin: 5px;
}

/* Images */

.bin-image {
  padding: 10px;
}

.bin-info-images a {
  border-bottom: none;
}

.bin-info-images img {
  width: 15%;
  margin: auto;
}

/* Banner */

.banner {
  background-color: #ffcd19;
  color: black;
  font-size: 20px;
}