/* Font is specific to MCC, need to host internally to access */
.App {
  text-align: center;
  font-family: 'Helvetica Neue', 'Helvetica', sans-serif;
}

.header {
  background-color: black;
  color: white;
}

h2 {
  background-color: #a62639;
  color: white;
  text-align: center;
  margin: 0;
  padding-top: 5px;
  padding-bottom: 5px;
  font-weight: normal;
}

h3 {
  text-align: left;
  margin: 0;
  padding-top: 5px;
  padding-bottom: 5px;
  font-weight: normal ;
}

ul, form {
  text-align: left;
}

input, label, select, button, h3 {
  margin-left: 5%;
}

.bin-image {
  padding: 10px;
}